@import url('https://fonts.googleapis.com/css2?family=Volkhov&display=swap');

body {
  background: hsl(60, 6%, 87%);
  margin: 0 auto;
  font-family: Volkhow;
  text-decoration: none;
}

.back_panel {
  position: absolute;
  left: 0;
  top: 0;
  height: 92%;
  width: 96%;
  background: #D9D9D9;
  margin-top: 2%;
  margin-left: 2%;
  box-shadow: 2px 4px 15px 4px rgba(88, 88, 88, 0.25);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
  border: 2px solid #8E8E8E;
  background: #E0E0DC;
  width: 27%;
  height: 87%;
  margin: 2%;
  overflow: hidden;
}

.main {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 20px;
  border: 2px solid #8E8E8E;
  background: #E0E0DC;
  width: 67%;
  height: 87%;
  margin: 2%;
  overflow: hidden;
}

.circle-image {
  display: inline-block;
  overflow: hidden;
  width: 35%;
  padding-bottom: 35%;
  height: 0;
  position: relative;
  left: 32%;
  margin-top: 3%;
}

.circle-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  clip-path: circle(50%);
  object-fit: cover;
}

.divider1 {
  width: 60%;
  height: 1.5px;
  background: #000;
}

.divider2 {
  width: 75%;
  height: 1.5px;
  background: #000;
}

h1 {
  position: relative;
  left: 22%;
  font-size: 1.5vw;
  font-weight: 400;
  margin-top: 1%;
}

h2 {
  position: relative;
  left: 5%;
  display: flex;
  width: 173px;
  height: 19px;
  flex-direction: column;
  font-size: 1.2vw;
  font-weight: 600;
}

.contacts-heading {
  margin-bottom: 1px;
}

.projects-heading {
  width: 450px;
}

.courses-heading {
  width: 250px;
  margin-top: 8%;
}

.skills-heading{
  text-align: center;
  width: 90%;
}

nav {
  position: relative;
  left: 4%;
  display: flex;
  flex-direction: column;
}

a, a:visited {
  color: #000;
  text-decoration: none;
}

.ul-1, .ul-2, .ul-3, .ul-4 {
  line-height: 0;
  margin: 1.5%;
}

.ul-1 {
  list-style-image: url('images/phone.png');
}

.ul-2 {
  list-style-image: url('images/mail.png');
}

.ul-3 {
  list-style-image: url('images/8666686_github_icon.png');
}

.ul-4 {
  list-style-image: url('images/telegram.png');
}

p{
  font-size: 1.1vw;
  margin: 4%;
}

li{
  font-size: 1.1vw;
}

.project{
  margin: 4%;
}

.projects-ul{
  position: relative;
  left: 25%;
}

.skills{
  display: flex;
  flex-direction: row;
}

.hard-skills, .soft-skills {
  width: 50%;
  margin-left: 4%;
  margin-top: 0%;
}

h3{
  margin-bottom: 0%;
  margin-top: 2%;
  font-size: 1.5vw;
}

.soft-skills{
  margin-left: 20%;
}

.footer-class {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 94%;
  left: 570%;
  font-size: 1.2vw;
}

.git {
  width: 30px;
  height: 30px;
}